:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px;
}

.data-vertical-left {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.data-vertical-right {
  margin-right: 20px;
  margin-left: 20px;
}

.bad {
  background-color: #982525;
}

.mediocre {
  background-color: #a6954f;
}

.great {
  background-color: #56ae56;
}

.score-color-bad {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #242424;
  color: rgb(255, 44, 44);
  font-weight: bold;
  font-size: 1.5em;
  font-style: oblique;
  /*border-color: #982525;
  background-color: #98252574;
  */
  display: flex;
  justify-content: left;
  align-items: center;
}

.score-color-mediocre {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #242424;
  color: #ffe678;
  font-weight: bold;
  font-size: 1.5em;
  font-style: oblique;
  /*border-color: #a6954f;
  background-color: #a6954f;
  */
  display: flex;
  justify-content: left;
  align-items: center;
}

.score-color-great {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #242424;
  color: #7c85ff;
  font-weight: bold;
  font-size: 1.5em;
  font-style: oblique;
  /*border-color: #56ae56;
  background-color: #56ae566f;
  */
  display: flex;
  justify-content: left;
  align-items: center;
}

p {
  font-size: 1em;
  line-height: 0.5em;
  font-weight: bold;
  flex-basis: 100%;
  white-space: normal;
  font-style: oblique;
}

.img-button {
  /*
  position: relative;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #525252;
  cursor: pointer;
  transition: border-color 0.25s;
  */
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.9em 1.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #747474;
  cursor: pointer;
  transition: border-color 0.25s;
}

.smaller-button {
  position: relative;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #747474;
  cursor: pointer;
  transition: border-color 0.25s;
}

.selected-smaller-button {
  position: relative;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7c85ff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.selected-img-button {
  position: relative;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7c85ff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

.main-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  background-color: #1a1a1a;
  padding: 10px;
}

.sort-container {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
  background-color: #1a1a1a;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchbar {
  padding: 15px;
}

.left-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

.test-init-form {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
}

.extra-padding {
  margin-left: 10px;
}

.test-lang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 10px;
}

.test-words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 10px;
}

.test-words-number {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-test {
  margin-bottom: auto;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7c85ff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.cancel-button {
  margin-bottom: auto;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.selected-button {
  background-color: #7c85ff;
}

.unselect {
  background-color: #982525;
  font-weight: bold;
}

.create-eng-fin-words {
  padding: 20px;
  margin-bottom: 20px;
}

.confirm-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.tags-form {
  top: 0;
  margin-bottom: auto;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.label-margin {
  margin: 10px;
  font-size: 1em;
  line-height: 0.5em;
  font-weight: bold;
}

.basic-list {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.list-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid white;
  background-color: #7c85ff08;
  border-radius: 5px;
}

.word-id {
  margin-left: 10px;
  color: #7c85ff;
}

.english-word {
  margin-left: 10px;
  color: #ffe678;
}

.finnish-word {
  margin-left: 10px;
  color: #ffffff;
}

.question-word {
  padding: 10px;
  margin-left: 10px;
  color: #ffffff;
}

.correct {
  color: #7c85ff;
}

.incorrect {
  color: rgb(255, 44, 44);
}

.score-id {
  margin-left: 10px;
  color: #7c85ff;
}

.score-date {
  margin-left: 10px;
  color: #ffe678;
}

.score {
  margin-left: 10px;
}

.correct-words {
  margin-left: 10px;
}

.incorrect-words {
  margin-left: 10px;
}

.user-answer {
  padding: 5px;
  margin-left: 10px;
  color: #ffffff;
}

.select-tags {
  padding: 10px;
  background-color: #1a1a1a;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.simple-text {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1;
  font-style: oblique;
}

.error-msg {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #1a1a1a;
  color: rgb(255, 44, 44);
  font-weight: bold;
}

.deletion-warning {
  color: rgb(255, 44, 44);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 10px;
  background-color: #7c85ff;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  font-style: oblique;
}

h2 {
  padding: 10px;
  background-color: rgb(137, 137, 137);
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  font-style: oblique;
}

h3 {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1.4em;
  line-height: 1;
  font-style: oblique;
}

button {
  position: relative;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.7em 1.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #525252;
  cursor: pointer;
  transition: border-color 0.25s;
}

.small-button {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #747474;
  cursor: pointer;
  transition: border-color 0.25s;
}

.delete-button {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #484848;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
